/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
    padding-top: 0px;
    background-color: #b5f5b5;
    overflow-y: hidden;
}

.navbar{
    background-color: rgb(153, 255, 147);
    color: black !important;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 40px;
}

#ftop {
    position: absolute !important;
    top: 0px;
    width: 100%;
}

#components{
    margin-bottom: 50px;
}

#header {
  height: auto;
  padding-top: 5px;
}
#header {
  background-color: rgb(153, 255, 147);
}

#footer {
  height: auto;
  padding-top: 5px;
}
#footer {
  background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

area {
    cursor: pointer;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    background-color: #fff;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/* Modal */

#myModalLabel{
    font-weight: bold;
}

#myModalBody{
    font: 16px Arial;

}
.modal-body{
    padding: 20px 40px 10px 40px ;
}

/* blockquotes */
blockquote{
    margin: 0 0 10px;
    text-align: justify;
}

/*
    Novas cores de botões
*/
.btn-black {
    background-color: black;
    border-color: gray;
    color: #fff;
}

.btn-pink {
    background-color: rgb(48, 199, 218);
    border-color: rgb(174, 106, 106);
    color: white;
}

.btn-aqua {
    background-color: aqua;
    border-color: black;
    color: black;
}

.btn-green {
    background-color: darkgreen;
    border-color: black;
    color: seashell;
}

#rightConfirm{
    padding-top: 10px;
}

.ok_right{
    height: 29px;
}

.btnRight{
    margin: 5px;
}

.btnRight.unchecked{
    cursor: cell;
}

.btnRight.checked{
    cursor: default;
}

.btnRight.btnRAcitved{
    border-color: red;
}

.btnRight~.btnRInacitved{
    opacity: 0.35;
}

.btnRight.opac{
    opacity: 1 !important;
}

.btnRight.notopac{
    opacity: 0.35 !important;
}
